CompileFlags:
  CompilationDatabase: >-
    /Users/ramin/Desktop/GS_Neu/ITS-BRD-VSC/Programs/Aufgabe1/out/Aufgabe1/ITSboard/Debug
  Add:
    - >-
      -I/Users/ramin/Desktop/GS_Neu/ITS-BRD-VSC/Programs/Aufgabe1/../../stm32cubef4/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -I/Users/ramin/Desktop/GS_Neu/ITS-BRD-VSC/Programs/Aufgabe1/../../stm32cubef4/Drivers/CMSIS/Include
    - >-
      -I/Users/ramin/Desktop/GS_Neu/ITS-BRD-VSC/Programs/Aufgabe1/../../stm32cubef4/Drivers/STM32F4xx_HAL_Driver/Inc
    - >-
      -I/Users/ramin/Desktop/GS_Neu/ITS-BRD-VSC/Programs/Aufgabe1/../../stm32cubef4/Drivers/BSP/STM32F4xx_Nucleo_144
    - >-
      -I/Users/ramin/Desktop/GS_Neu/ITS-BRD-VSC/Programs/Aufgabe1/../../stm32cubef4/Utilities/Fonts
    - >-
      -I/Users/ramin/Desktop/GS_Neu/ITS-BRD-VSC/Programs/Aufgabe1/../../DisplayWaveshare/Inc
    - >-
      -I/Users/ramin/Desktop/GS_Neu/ITS-BRD-VSC/Programs/Aufgabe1/../../ITS_BRD_LIB/Utilities/AddFonts
    - >-
      -I/Users/ramin/Desktop/GS_Neu/ITS-BRD-VSC/Programs/Aufgabe1/tmp/Aufgabe1.Debug+ITSboard
    - >-
      -I/Users/ramin/Desktop/GS_Neu/ITS-BRD-VSC/Programs/Aufgabe1/RTE/_Debug_ITSboard
    - '-I/Users/ramin/.cache/arm/packs/ARM/CMSIS/6.1.0/CMSIS/Core/Include'
    - >-
      -I/Users/ramin/.cache/arm/packs/Keil/STM32F4xx_DFP/2.17.1/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -I/Users/ramin/Desktop/GS_Neu/ITS-BRD-VSC/Programs/Aufgabe1/../../ITS_BRD_LIB/Inc
    - '-I/Users/ramin/Desktop/GS_Neu/ITS-BRD-VSC/Programs/Aufgabe1/Inc'
